{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container draws-container">
    
    
    <div class="draw-header">
        <h5>Todays Draws</h5>
        <a href="{% url 'draws_list' %}" class="btn btn-secondary btn-sm">View All Draws</a>
    </div>
    {% for draw in active_draws %}
    <div class="draw-card">
        <h5>Draw <b>{{ draw.pk }}</b></h5>
        <small>Draw ID: {{ draw.draw_uuid }}</small><br>
        <small>Date: <b>{{ draw.draw_date|date:"d-M-Y" }}</b></small><br>
        <small>Time: <b>{{ draw.draw_time|time:"h A" }}</b></small><br>
        {% if draw.result_generated %}
            <div class="slot-animation1">
                <div class="doors1">
                    <div class="door1">
                        <div class="boxes1">
                            <!-- Boxes will be dynamically added here -->
                            <div class="box">{{ draw.result_number|stringformat:"d"|slice:":1" }}</div>
                        </div>
                    </div>
                    
                    <div class="door1">
                        <div class="boxes1">
                            <!-- Boxes will be dynamically added here -->
                            <div class="box">{{ draw.result_number|stringformat:"d"|slice:"1:2" }}</div>
                        </div>
                    </div>
                    
                    <div class="door1">
                        <div class="boxes1">
                            <!-- Boxes will be dynamically added here -->
                            <div class="box">{{ draw.result_number|stringformat:"d"|slice:"2:3" }}</div>
                        </div>
                    </div>
                    
                    <div class="door1">
                        <div class="boxes1">
                            <!-- Boxes will be dynamically added here -->
                            <div class="box">{{ draw.result_number|stringformat:"d"|slice:"3:4" }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="slot-animation">
            <div class="doors">
                <div class="door">
                    <div class="boxes">
                        <!-- Boxes will be dynamically added here -->
                    </div>
                </div>
                
                <div class="door">
                    <div class="boxes">
                        <!-- Boxes will be dynamically added here -->
                    </div>
                </div>
                
                <div class="door">
                    <div class="boxes">
                        <!-- Boxes will be dynamically added here -->
                    </div>
                </div>
                
                <div class="door">
                    <div class="boxes">
                        <!-- Boxes will be dynamically added here -->
                    </div>
                </div>
            </div>
        </div>
            <p class="result-not-released">Result Not Released</p>
            <a href={% url 'create_order' draw.pk %} class="btn btn-primary">Book Tickets</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

<style>
    .slot-animation {
        margin: 20px 0;
    }

    .doors {
        display: flex;
    }
    
    .door {
        background: linear-gradient(to bottom right, #f8f9fa, #e2e6ea);
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
        width: 100px;
        height: 150px;
        overflow: hidden;
        border-radius: 1ex;
        margin: 1ch;
    }
    
    .boxes {
        transition: transform 1s ease-in-out;
    }
    
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .slot-animation1 {
        margin: 20px 0;
    }

    .doors1 {
        display: flex;
    }
    
    .door1 {
        background: linear-gradient(to bottom right, #f8f9fa, #e2e6ea);
        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
        width: 100px;
        height: 150px;
        overflow: hidden;
        border-radius: 1ex;
        margin: 1ch;
    }
    
    .boxes1 {
        transition: transform 1s ease-in-out;
    }
    
    .box1 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    #spinner {
        margin-top: 10px;
    }

    .draw-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .draw-card {
        background-color: #fff;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .result-not-released {
        color: red;
        margin-top: 10px;
    }
</style>
{% endblock %}
