{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>My Orders</h2>
    <div class="row">
        {% for order in orders %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Order {{ order.pk }}</h5>
                    
                    <p class="card-text">Order Status: <b>{{ order.order_status }}</b></p>
                    {% if order.order_status == 'pending' %}
                    <a href="{% url 'order_preview' order.pk %}" class="checkout-button">Pay to Confirm</a>
                    {% endif %}
                    <p class="card-text">Order Amount: <b>{{ order.order_total }}</b></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<style>
    .checkout-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .checkout-button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}
